{% extends 'todo_list/base.html' %}
{% load static %}
{% block title %}
  Новая задача
{% endblock title %}

{% block body %}
    <div class="content">
        <div class="container justify-content-center text-center mb-5">
              <div class="main">
                  <h1>Создай новую причину твоей лени!</h1>
              </div>
            <form method="post" id="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Название</label>
                    <input type="text" name="title" class="form-control" id="title" required>
                </div>
                <div class="form-group">
                    <label for="description">Комментарий</label>
                    <textarea name="description" class="form-control" id="description"></textarea>
                </div>
              
                <div class="form-group">
                    <label for="deadline">Дедлайн</label>
                    <input type="date" name="deadline" class="form-control" id="deadline" required>
                </div>
                <button type="submit" class="btn btn-reg" id="btn">Добавить задачу</button>
            </form>
        </div>
        <div class="prev mb-1">
            <a class="m-2" href="{% url 'todo_list:index' %}">Назад</a>
        </div>
    </div>
    <script src="{% static 'main.js' %}"></script>
{% endblock body %}