{% extends 'todo_list/base.html' %}

{% block title %}
  Дела-Делишки
{% endblock title %}

{% block body %}

  <div id="container">
    <div id="content">
      <div class="todo_list mb-5">
        <h2>#ТВОИ ДЕЛА-ДЕЛИШКИ#</h2>
        <ul class="list_del">
          <li><a href="{% url 'todo_list:list' %}" >Полный список дел</a></li>
          <li><a href="{% url 'todo_list:done' %}" >Список невыполненных дел</a></li>
          <li><a href="{% url 'todo_list:true_done' %}" >Список выполненных дел</a></li>
          <li><a href="{% url 'todo_list:add_todo_item' %}" >Добавить новую задачу</a></li>
        </ul>
      </div>

      <div class="last_todo">
        <h2><span id="last-todo-span">Мой дорогой!</span> Тебе пора выполнять эти задачи:</h2>
        {% include 'todo_list/components/todo_items_list.html' %}
      </div>
    </div>
  </div>
{% endblock body %}