{% extends 'todo_list/base.html' %}

{% block title %}
  Забудь о важном
{% endblock title %}

{% block body %}
<div id="container">
  <div id="content">
    <div class="todo_list mb-5">
      <h2>#ТВОИ ДЕЛА-ДЕЛИШКИ#</h2>
      {% include 'todo_list/components/navbar.html' %}
    </div>

    <div class="last_todo">
      <h2><span id="last-todo-span">Мой дорогой!</span> Вот твои задачи</h2>
      {% include 'todo_list/components/todo_items_list.html' %}
    </div>
  </div>
</div>


{% endblock body %}

