{% extends 'todo_list/base.html' %}

{% block title %}
  Делишко #{{ object.id }}
{% endblock title %}

{% block body %}
<div class="mb-4 detail">
  <h3>#ДЕЛИШКО#:</h3>

  <div class="object_in_info">Заголовок: 
    <div class="object">{{ object.title }}</div>
  </div>

  <div class="object_in_info">Комментарий: 
    <div class="object">{{ object.description }}</div>
  </div>

    <div class="object_in_info">Статус:
      <div class="object">
        {% if object.done %}
      	Сделано!
      {% else %}
        Ой, дружок, пора взяться за дело!
      {% endif %} 
      </div>
    </div>
</div>
<div class="prev mb-1 mb-3">
  <a class="m-2" href="{% url 'todo_list:index' %}">Назад</a>
</div>
{% endblock body %}