{% extends 'todo_list/base.html' %}

{% block title %}
  Делишко #{{ object.id }}
{% endblock title %}

{% block body %}
<div class="mb-4 m-2">
  <h3>#ДЕЛИШКО №{{ object.id }}#:</h3>
  <div>
    <div>Заголовок: <strong>{{ object.title }}</strong></div>
    <div>Статус: <strong>{{ object.done }}</strong></div>
    <div>Комментарий: <strong>{{ object.description }}</strong></div> <!-- А где текст? -->
  </div>
</div>
<div class="prev mb-1">
  <a class="btn m-2" href="{% url 'todo_list:index' %}">Назад</a>
</div>
{% endblock body %}