<nav class="navbar navbar-expand navbar-light shadow-lg p-3 mb-5 bg-body-tertiary rounded ">
  <div class="container-fluid">
    <div class="navbar-nav">
      <!--<a class="nav-link" aria-current="page" href="{% url 'index' %}">Главная</a>-->
      <a class="nav-link" aria-current="page" href="{% url 'registration:profile' %}">Профиль</a>
      <a class="nav-link" aria-current="page" href="{% url 'todo_list:index' %}">Дела-Делишки</a>
      <a class="nav-link" aria-current="page" href="{% url 'biography' %}">О нас</a>
    </div>
  </div>
</nav>