*{
    font-family:"Raleway", sans-serif;
    list-style: none;
}

:root{
    --main-bk: #f3f3f3;
    --main-font-color: #000;
    --font-color: #6c6c6c;
    --dop-font-color: #4d4d4d;
    --white: #fff;

}

/*main*/
body{
    overflow-x: hidden;
    background-color: var(--main-bk);
}

.navbar-nav .nav-link{
    font-weight: 600;
    font-size: 16px;
    color: var(--main-font-color);
    transition: all 200ms ease-in-out;
}

.nav-link:hover{
    color: #5c5c5c;
}

#zag-text{
    color: var(--main-font-color);
    font-weight: 700;
    font-size: 3em;
    padding-bottom: 15px;

}

#text-main{
    color: var(--main-font-color);
    font-size: 2em;
    line-height: 1.2;
    font-weight: 400;
    padding-bottom: 10px;
}

.black_title{
    color: var(--main-font-color);
    font-weight: 700;
}

#btn{
    background-color: #FCA311;
    padding: 10px 57px;
    color: #FFFFFF;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    transition:all 0.15s;
}

.prev a{
    text-decoration: none;
    color: var(--main-font-color);
    font-weight: 500;
}

#btn:hover{
    background-color: #ea9711;
}

#btn a{
    text-decoration: none;
    color: #fff
}

.todo_list li{
    margin-bottom: 5px;
}

/*todo_list:index*/


#container{
    margin:0px 20px
}

.todo_list a, .last_todo a{
    text-decoration: none;
    color: #14213D;
}



.list_del li a{
    font-weight: 500;
    font-size: 17px;
    transition: all 200ms ease-in-out;
    color: var(--main-font-color);
}

.list_del li a:hover{
    color: #606060;
}

#btn_delete{
    position: absolute;
    top: 2%;
    right: 2%;
    color: black;
    border: none;
    background-color: transparent;
    border-radius: 35%;
    transition: transform 0.2s ease;
}

#btn_delete:hover{
    transform: scale(1.07);
    background-color: white;
    transform: rotate(90deg);

}

/*add_todo*/

.main h1{
    font-size: 45px;
    font-weight: 600;
}

#title{
    min-height: 45px;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#description{
    min-height: 170px;
}

label{
    font-weight: 600;
}

.form-group{
    width: 35%;
    margin-bottom: 10px;
}

.container #btn{
    margin-top: 20px;
}


/*components */

.cont{
    margin-left: px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.card{
    margin-top: 20px;
    margin-bottom: 6px;
    height: 320px;
    position: relative;
    transition: 0.3s;
    background-color: none;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-body{
    overflow: hidden;
    width: 220px;
    word-wrap: break-word;
    margin-bottom: 1px;
    transition: overlflow 0.1s ease-in-out;
}

.card-body:hover{
    overflow: auto;
}

.card-body::-webkit-scrollbar{
    width: 3px;
}

.card-body::-webkit-scrollbar-track{
    background-color: black;
    
}

.card-body::-webkit-scrollbar-thumb{
    background-color: var(--font-color);
    border-radius: 20px;
    width: 1px;

}

.card-body a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 0.5;
}

.card-text{
    font-size: 15px;
    color: var(--dop-font-color);
    font-weight: 400;
    margin-bottom: 10px;

}

.btn_do, .btn_todo{
    border: none;
    background-color: #eaeaeaa8;
    transition: all 0.35s ease-in-out;
    font-weight: 600;
}

.btn_todo{
    background-color: #ff1919;
}

.btn_do{
    pointer-events: none;
    cursor: default;
    background-color: #14df33;
}

.btn_todo:hover{
    background-color: #14df33;
}



/* biography */

.bio img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.bio{
    background-color: var(--white);
    height: 23%;
    width: 25%;
    margin-left: 18px;
    margin-top: 30px;
    margin-right: 18px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.contBIO{
    margin-top: 30px;
    margin-bottom: 30px;
}

.bioTEXT{
    color: var(--font-color);
    margin-top: -4px;
}

.icon img{
    background-color: pointer;
    width: 43px;
    height: 43px;
    margin: 6px;
    cursor: pointer;
    transition: all 0.2s;
}

.icon img:hover{
    background-color: rgba(160, 160, 160, 0.3);
}

/* todoitem_detail */

.detail{
    margin-left: 15px;
    width: auto;
}

.object_in_info{
    font-size: 20px;
    font-weight: 400;
    padding-top: 5px;
}

.object{
    display: inline-block;
    margin-right: 10px;
    font-weight: 700;
}

/* какая та непонятная ссылка*/

.delete_container{
    margin-left: 15px;
}

.delete_container p{
    font-size: 1.4em;
}

#delete_in_delete{
    border: none;
    background-color: #f60000;
    width: 6em;
    height: 2em;
    border-radius: 2px;
    margin-right: 10px;
    transition: all 0.2s;
}

#delete_in_delete:hover{
    background-color: #fd0101ab;
}

#cancel{
    text-decoration: none;
    color: var(--main-font-color);
}

/* 

делишко#

если нет задач, то поменять текст

смена тем

адаптив

*/

/* todo_items_list */

.todo_items_list{
    margin: 0 20px;
}