/* static/style.css */

/*main*/
body{
    overflow-x: hidden;
    background-color: #f2f2f2;
}

#text-main{
    padding-bottom: 10px;
}

#btn{
    background-color: #FCA311;
    color: #FFFFFF;
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    transition:all 0.15s;
}

#btn:hover{
    background-color: #fca211c2;
}

#btn a{
    text-decoration: none;
    color: #fff
}

.todo_list li{
    margin-bottom: 5px;
}

/*todo_list:index*/

#container{
    margin-left: 10px;
}

.todo_list a{
    text-decoration: none;
    color: #14213D;
}


.last_todo a{
    text-decoration: none;
    color: #14213D;
}

#btn_delete{
    position: absolute;
    top: 2%;
    right: 2%;
    color: black;
    border: none;
    background-color: transparent;
    border-radius: 35%;
    transition: transform 0.2s ease;
}

#btn_delete:hover{
    transform: scale(1.07);
    background-color: white;
    transform: rotate(90deg);

}

/*add_todo*/

#id_title{
    margin-top: 50px;
    width: 500px;
    height: 40px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 3px;
}

#id_description{
    width: 500px;
    height: 80px;
    border: 1px solid white;
    border-radius: 3px;
    overflow: auto;
    resize: vertical;
    word-wrap: break-word;
    display: inline-block;
}

.container #btn{
    width: 150px;
}

/*components */

.cont{
    margin-left: 30px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.card{
    margin-top: 20px;
    margin-bottom: 6px;
    height: 300px;
    position: relative;
    transition: 0.3s;
    background-color: none;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-body{
    overflow: hidden;
    width: 220px;
    word-wrap: break-word;
    transition: overlflow 0.1s ease-in-out;
}

.card-body:hover{
    overflow: auto;
}

.card-body a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.card-body #btn_delete{
    width: 100px;
    justify-content: start;
    margin-top: 0px;
    position: absolute;
}

/* biography */

.bio_image img{
    width: 400px;
    height: 500px;
}