
/*main*/
body{
    overflow-x: hidden;
    background-color: #f2f2f2;
    /*  добавить блюр при скроле */
}

#text-main{
    padding-bottom: 10px;
}

#btn{
    background-color: #FCA311;
    color: #FFFFFF;
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    transition:all 0.15s;
}

#btn:hover{
    background-color: #fca211c2;
}

#btn a{
    text-decoration: none;
    color: #fff
}

.todo_list li{
    margin-bottom: 5px;
}

/*todo_list:index*/

#container{
    margin-left: 10px;
}

.todo_list a{
    text-decoration: none;
    color: #14213D;
}


.last_todo a{
    text-decoration: none;
    color: #14213D;
}

#btn_delete{
    position: absolute;
    top: 2%;
    right: 2%;
    color: black;
    border: none;
    background-color: transparent;
    border-radius: 35%;
    transition: transform 0.2s ease;
}

#btn_delete:hover{
    transform: scale(1.07);
    background-color: white;
    transform: rotate(90deg);

}

/*add_todo*/

#id_title{
    margin-top: 50px;
    width: 500px;
    height: 40px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 3px;
}

#id_description{
    width: 500px;
    height: 80px;
    border: 1px solid white;
    border-radius: 3px;
    overflow: auto;
    resize: vertical;
    word-wrap: break-word;
    display: inline-block;
}

.container #btn{
    width: 150px;
}

/*components */

.cont{
    margin-left: 30px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.card{
    margin-top: 20px;
    margin-bottom: 6px;
    height: 300px;
    position: relative;
    transition: 0.3s;
    background-color: none;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-body{
    overflow: hidden;
    width: 220px;
    word-wrap: break-word;
    margin-top: -px;
    margin-bottom: 1px;
    transition: overlflow 0.1s ease-in-out;
}

.card-body:hover{
    overflow: auto;
}

.card-body::-webkit-scrollbar{
    width: 5px;
}

.card-body::-webkit-scrollbar-track{
    background-color: black;
}

.card-body::-webkit-scrollbar-thumb{
    background-color:#FCA311;
    border-radius: 20px;

}

.card-body a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.card-body #btn_delete{
    width: 100px;
    justify-content: start;
    margin-top: 0px;
    position: absolute;
}

.btn_do, .btn_todo{
    border: none;
    background-color: #eaeaeaa8;
    transition: all 0.35s ease-in-out;
    
}

.btn_todo{
    background-color: #f60000;
}

.btn_do{
    pointer-events: none;
    cursor: default;
    background-color: #14df33;
}

.btn_todo:hover{
    background-color: #14df33;
}



/* biography */

.bio img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.bio{
    background-color: #ffffff;
    height: 30%;
    width: 30%;
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 20px;
    border-radius: 10px;
}

.contBIO{
    margin-top: 30px;
    margin-bottom: 30px;
}

.bioTEXT{
    color: #6c6c6c ;
    margin-top: -4px;
}

.icon img{
    background-color: pointer;
    width: 49px;
    height: 49px;
    margin: 6px;
    cursor: pointer;
}

.icon img:hover{
    background-color: rgba(160, 160, 160, 0.2);
}