{% extends 'registration/base__login.html' %}
{% load static %}

{% block title %}
  Не уходи(
{% endblock title %}

{% block body %}
  <div class="container-profile">
    {% include 'registration/components/navbar.html' %}


    <div class="container-profile-info" id="delete">
      <h3 class="container-profile-info-title">Вы уверены, что хотите удалить свой аккаунт?</h3>

      <form method="post" class="form__delete">
        {% csrf_token %}
        <button type="submit" class="delete__link" id="delete-btn">Удалить аккаунт</button>
      </form>

    </div>

  
  
<script src="{% static 'main.js' %}"></script>
{% endblock body %}
</html>






