<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Вход</title>
</head>
<body>
  <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
    {{ form.errors }}
    <p><a href="#">Забыли пароль?</a></p>
    <p>Нет аккаунта?<a href="{% url 'registration:register' %}">Зарегистрируйся</a></p>
</body>
</html>