{% extends 'registration/base__login.html' %}
{% load static %}

{% block title %}
  Смена пароля
{% endblock title %}

{% block body %}
<div class="container-profile">
  {% include 'registration/components/navbar.html' %}

  <div class="password-pages container-profile-info">
    <h3 class="container-profile-info-title">Изменение пароля </h3>
    <div class="password-cont">

      <form method="post" id="password">
        {% csrf_token %}
        <div class="form-error password-el">
            {{ form.non_field_errors }}
        </div>
    
        {% for f in form %}
        <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}
        </label>
        
        <div class="form-input password-el" id="password-input">
          <a href="#" class="icon-password" onclick="return show_hide_password(this);"></a>
            {{ f }}
        </div>
        
        <div class="form-error password-el">
            {{ f.errors }}
            
        </div>
        {% endfor %}  
    
        <button type="submit" class="password-btn">Изменить пароль</button>
    </form>
    
    </div>
  </div>
</div>

<script src="{% static 'main.js' %}"></script>
{% endblock body %}
</html>