{% extends 'registration/base__login.html' %}
{% load static %}

{% block title %}
  Смена темы
{% endblock title %}

{% block body %}

<div class="container-profile">
  {% include 'registration/components/navbar.html' %}
  

  <div class="themes container-profile-info">
    <h3 class="container-profile-info-title">Темы </h3>

    <div class="themes-cont">

      <div class="card-list-theme" id="dark">
        <article class="card-theme" id="dark-theme-card">
        <figure class="card-image-theme">
          <img src="{% static 'img/dark.jpg' %}"/>
        </figure>
        <div class="card-header-theme">
          <button  class="button-theme">Темная тема</button>
        </div>
      </article>
      </div>
      
      <div class="card-list-theme" id="light">
        <article class="card-theme" id="light-theme-card">
        <figure class="card-image-theme">
          <img src="{% static 'img/light.jpg' %}"/>
        </figure>
        <div class="card-header-theme">
          <button class="button-theme">Светлая тема</button>
        </div>
      </article>
      </div>

      <div class="card-list-theme" id="pinky">
        <article class="card-theme" id="pinky-theme-card">
        <figure class="card-image-theme">
          <img src="{% static 'img/pinky.jpg' %}"/>
        </figure>
        <div class="card-header-theme">
          <button  class="button-theme">Мужская тема</button>
        </div>
      </article>
      </div>
      
      <div class="card-list-theme" id="black">
        <article class="card-theme" id="total-blacl-card">
        <figure class="card-image-theme" id="total_black">
          <img src="{% static 'img/dark.jpg' %}"/>
        </figure>
        <div class="card-header-theme">
          <button >Total black</button>
        </div>
      </article>
      </div>

    </div>

</div>

<script src="{% static 'main.js' %}"></script>

{% endblock body %}

</html>


