{% extends 'registration/base__login.html' %}
{% load static %}

{% block title %}
  Редактироварие профиля
{% endblock title %}

{% block body %}

<div class="container-profile">
  {% include 'registration/components/navbar.html' %}

  <div class="settings container-profile-info">
    <h3 class="container-profile-info-title">Изменить данные профиля</h3>

    <div class="update-cont">
      <form method="post" enctype="multipart/form-data">
        
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="password-btn">Готово</button>
      </form>

    </div>
  </div>
</div>
<script src="{% static 'main.js' %}"></script>

{% endblock body %}

</html>
