{% extends 'base2.html' %}
{% load static %}

{% block title %}
  О нас
{% endblock title %}


{% block body %}
  <div class="row text-center justify-content-center bio-cont">
    <div class="col-4 bio">
     <div class="contBIO">
      <div class="bio_image">
        <img src="{% static 'img/Sveta.jpg' %}" alt="">
      </div>
      <h2>TiredOptimist</h2>
      <p><h4 class="bioTEXT">Main Backend Developer</h2>
        <div class="icon">
          <a href="https://github.com/TiredOptimist"><img src="{% static 'img/gitWhite.png' %}" target="_blank" alt="icon-git"></a>
          <a href=""><img src="{% static 'img/TGWhite.png' %}" alt="" target="_blank"></a>
        </div>
     </div>        
    </div>

    <div class="col-4 bio">
      <div class="contBIO">
        <div class="bio_image">
          <img src="{% static 'img/Nekt.jpg' %}" alt="">
        </div>
        <h2>El_Sacerdot</h2>
        <p><h4 class="bioTEXT">Main Frontend Developer</h2>
          <div class="icon">
            <a href="https://github.com/HollyGooffy"><img src="{% static 'img/gitWhite.png' %}" target="_blank" alt="icon-git"></a>
            <img src="{% static 'img/TGWhite.png' %}" alt="">
          </div>
      </div>
    </div>

    <div class="col-4 bio">
      <div class="contBIO">
        <div class="bio_image">
          <img src="{% static 'img/Mari.jpg' %}" alt="?">
        </div>
        <h2>Kkkkariliness</h2>
        <p><h4 class="bioTEXT">Designer</h2>
          <div class="icon">
            <a href="https://github.com/kkkkariliness"><img src="{% static 'img/gitWhite.png' %}" target="_blank" alt="icon-git"></a>
            <img src="{% static 'img/TGWhite.png' %}" alt="">
          </div>
      </div>
    </div>
  </div>

{% endblock body %}