{% extends 'base.html' %}
{% load static %}

{% block title %}
  О нас
{% endblock title %}


{% block body %}
  <div class="row text-center justify-content-center">
    <div class="col-4 bio_img">
      <h2>TiredOptimist</h2>
        <div class="bio_image">
          <img src="{% static 'img/Sveta.jpg' %}" alt="">
        </div>
        <p><h2>Main Backend Developer</h2>        
    </div>
    <div class="col-4 bio_img">
      <h2>El_Sacerdot</h2>
        <div class="bio_image">
          <img src="{% static 'img/Nekt.jpg' %}" alt="">
        </div>
        <p><h2>Main Frontend Developer</h2>
    </div>
  </div>

{% endblock body %}