{% extends 'base.html' %}
{% load static %}

{% block title %}
  О нас
{% endblock title %}


{% block body %}
  <div class="row text-center justify-content-center">
    <div class="col-4 bio">
     <div class="contBIO">
      <div class="bio_image">
        <img src="{% static 'img/Sveta.jpg' %}" alt="">
      </div>
      <h2>TiredOptimist</h2>
      <p><h4 class="bioTEXT">Main Backend Developer</h2>
        <div class="icon">
          <img src="{% static 'img/gitBlack.png' %}" alt="icon-git">
          <img src="{% static 'img/TG.png' %}" alt="">
        </div>
     </div>        
    </div>

    <div class="col-4 bio">
      <div class="contBIO">
        <div class="bio_image">
          <img src="{% static 'img/Nekt.jpg' %}" alt="">
        </div>
        <h2>El_Sacerdot</h2>
        <p><h4 class="bioTEXT">Main Frontend Developer</h2>
          <div class="icon">
            <img src="{% static 'img/gitBlack.png' %}" alt="icon-git">
            <img src="{% static 'img/TG.png' %}" alt="">
          </div>
      </div>
    </div>
  </div>

{% endblock body %}