{% extends 'base.html' %}

{% block title %}
  Главная
{% endblock title %}


{% block body %}
  <div class="row justify-content-center">
    <div class="col-md-7 text-center">
        <div id="zag-text">
            #ТВОЙ ПОМОЩНИК ЛЕНИ#
        </div>
        <div id="text-main">
          Завалены работой, бумагу в руках не держали <br>лет сто, а память телефона вот-вот лопнет?<br>
            <span class="black_title">
              Наши Дела-Делишки помогут Вам легко <br>забыть обо всех своих обязанностях!
            </span>
        </div>
          <div id="btn" class="mt-3">
            <a href="{% url 'registration:login' %}">Начнем</a>
          </div> <!--Кнопка для регистрации-->
    </div>
  </div>
{% endblock body %}