{% extends 'base.html' %}

{% block title %}
  Главная
{% endblock title %}


{% block body %}
  <div class="row justify-content-center">
    <div class="col-md-7 text-center">
        <div class="" id="zag-text">
            <h1>#ТВОЙ ПОМОЩНИК ЛЕНИ#</h1>
        </div>
        <div id="text-main">
          <h2>Завалены работой, бумагу в руках не держали лет сто, а память телефона вот-вот лопнет?
            Наши Дела-Делишки помогут Вам легко забыть обо всех своих обязанностях!</h2>
        </div>
          <div id="btn">
            <a href="{% url 'registration:login' %}">Начнем</a>
          </div> <!--Кнопка для регистрации-->
    </div>
  </div>
{% endblock body %}