{% load static %}
<div class="container-settings-navbar">
  <nav class="container-settings-navbar-nav">
    <li><form action="{% url 'todo_list:index' %}">
      <button id="profile-link"><i class='fa fa-reply'></i>К великим делам</button>
        </form> <!-- я себя не прощу за этот костыль --></li>

    <li><a href="{% url 'registration:information' %}" class="dis-active"><i class="fa fa-info-circle"></i>Информация</a></li>
    <li><a href="{% url 'registration:profile' %}" class="dis-active"><i class="fa fa-user"></i>Аккаунт</a></li>
    <li><a href="{% url 'registration:tems' %}" class="dis-active"><i class='fa fa-moon-o'></i>Смена темы</a></li>
    <li><a href="{% url 'registration:password' %}" class="dis-active"><i class='fa fa-lock'></i>Сменить пароль</a></li>
    <li><a href="{% url 'registration:update' %}" class="dis-active"><i class='fa fa-gear'></i>Настройки</a></li>
    <li><a href="{% url 'registration:delete' %}">Удалить аккаунт</a></li>
    <li><form method="post" action="{% url 'registration:logout' %}">
      {% csrf_token %}
      <button type="submit" id="profile-link">
        <i class='fa fa-wheelchair-alt'></i>Выйти</button></form></li>
  </nav>
</div>
<script src="{% static 'main.js' %}"></script>


