<ul>
    {% for todo_item in object_list %}
    	<li>
        <a href="{% url 'todo_list:detail' pk=todo_item.pk %}">
          {{ todo_item.title }}
          {% if todo_item.done %}
            🟢
          {% else %}
            🔴
          {% endif %}
        </a>
        {% if todo_item.id %}
        <form action="{% url 'todo_list:delete_todo' todo_item.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger mt-1 mb-3">Удалить</button>
        </form>
        {% endif %}
      </li>
    {% endfor %}
    
  </ul>