{% load static %}
<div class="cont">
  <div class="row">
    {% for todo_item in object_list %}
    <div class="col-2">
      <div class="card">
        <img src="{% static 'img/todo.jpg' %}" alt="" class="card-img-top">
        <form action="{% url 'todo_list:delete_todo' todo_item.id %}" id="form" method="post">
          {% csrf_token %}
          <button type="submit" id="btn_delete"><i class="fa fa-close"></i></button>
        </form>
        <button form="toggle-form-{{ todo_item.pk }}" type="submit" id="btn_top_card" class="{% if todo_item.done %}btn_do{% else %}btn_todo{% endif %}">
          {% if todo_item.done %}
          Выполнено
        {% else %}
          Выполнить
        {% endif %}
        </button>
        <div class="card-body">
          <a href="{% url 'todo_list:detail' pk=todo_item.pk %}">
            {{ todo_item.title }}
          </a>
          <form id="toggle-form-{{ todo_item.pk }}" action="{% url 'todo_list:toggle_done' pk=todo_item.pk %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="done" value="on">
          </form>
          {% if todo_item.id %}
          <p class="card-text">{{ todo_item.description }}</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
